name: gitleaks
on: [push]
jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # - uses: actions/upload-artifact@v4
      #   with:
      #     name: gitleaks
      #     path: gitleaks-results.sarif.zip
  upload:
    runs-on: ubuntu-latest
    needs: scan
    if: always()
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      # - name: Download SARIF
      #   uses: actions/download-artifact@v4
      #   with:
      #     name: gitleaks
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
          
        
