name: gitleaks
on: [push]
jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v4
      - name: Run Gitleaks
        continue-on-error: true
        run: |
          docker pull ghcr.io/gitleaks/gitleaks:latest
          docker run -v $(pwd):/gitleaks -w /gitleaks ghcr.io/gitleaks/gitleaks:latest dir . -f json -r secrets.json
      - name: Create issue
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          jq -c '.[]' secrets.json | while read -r item; do
              secret_type=$(echo "$item" | jq -r '.RuleID')
              fingerprint=$(echo "$item" | jq -r '.Fingerprint')
              gh issue create -t "Secret Detected" -b $fingerprint -l secret
          done
  # upload:
  #   runs-on: ubuntu-latest
  #   needs: scan
  #   if: always()
  #   permissions:
  #     security-events: write
  #     actions: read
  #     contents: read
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v5
  #     - name: Download SARIF
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: gitleaks-results.sarif
  #     - name: Upload SARIF file
  #       uses: github/codeql-action/upload-sarif@v4
  #       with:
  #         sarif_file: work/skills-introduction-to-secret-scanning/skills-introduction-to-secret-scanning/results.sarif
          
        
