name: gitleaks
on: [push]
jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v4
      - name: Run Gitleaks
        continue-on-error: true
        run: |
          docker pull ghcr.io/gitleaks/gitleaks:latest
          docker run -v $(pwd):/gitleaks -w /gitleaks ghcr.io/gitleaks/gitleaks:latest git . -f json -r secrets.json --max-decode-depth 0 --pre-commit
      - name: Create New Issues
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh issue list -l secret --json body > issues.json
          jq -c '.[]' secrets.json | while read -r item; do
              line=$(echo "$item" | jq -r '.StartLine')
              file=$(echo "$item" | jq -r '.File')
              url=https://github.com/${{ github.repository }}/blob/${{ github.ref_name }}/$file#L$line
              if ! jq -e --arg url $url 'any(.[]; .body == $url)' issues.json >/dev/null; then
                gh issue create -t "Secret Detected" -b $url -l secret
              fi
          done
