name: gitleaks
on: [push]
jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test
        run: |
          docker pull ghcr.io/gitleaks/gitleaks:latest
          docker run -v $(pwd):/gitleaks ghcr.io/gitleaks/gitleaks:latest dir gitleaks/ -v
          pwd
          ls -al
  # upload:
  #   runs-on: ubuntu-latest
  #   needs: scan
  #   if: always()
  #   permissions:
  #     security-events: write
  #     actions: read
  #     contents: read
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v5
  #     - name: Download SARIF
  #       uses: actions/download-artifact@v4
  #       with:
  #         name: gitleaks-results.sarif
  #     - name: Upload SARIF file
  #       uses: github/codeql-action/upload-sarif@v4
  #       with:
  #         sarif_file: work/skills-introduction-to-secret-scanning/skills-introduction-to-secret-scanning/results.sarif
          
        
